.sidebar {
  background-color: #323c41;
  height: 100%;
  width: 200px;
  overflow: hidden;
  transition: all 0.2s ease;
}

.add-account-btn {
  text-align: left;
  text-decoration: none;
  display: block;
  background-color: transparent;
  border: none;
  border-right: 5px solid transparent;
  width: 100%;
  font-size: 18px;
  color: white;
  padding: 8px 0 8px 20px;
  transition: all 0.2s ease;
}

.add-account-btn:hover {
  border-right: 5px solid #3282b8;
}

.add-account-btn-active {
  border-right: 5px solid #3282b8;
}

@media (max-width: 767px) {
  .sidebar {
    width: 20px;
    position: fixed;
    left: 0;
    top: 69px;
    z-index: 100;
  }
}

.extended {
  width: 200px;
}
