.sidebar {
  background-color: #eeeeee1c;
  height: 100%;
  width: 100%;
}

.add-account-btn {
  text-decoration: none;
  display: block;
  background-color: transparent;
  border: none;
  border-right: 5px solid transparent;
  width: 100%;
  font-size: 18px;
  color: white;
  padding: 8px 0;
  transition: all 0.2s ease;
}

.add-account-btn:hover {
  border-right: 5px solid #3282b8;
}

.add-account-btn-active {
  border-right: 5px solid #3282b8;
}
